.root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	background: rgb(0,159,253);
	background: linear-gradient(180deg, rgba(0,159,253,1) 0%, rgba(42,42,114,1) 100%);
	justify-content: flex-start;
	align-items: center;
	padding: 32px;
	.form {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: flex-start;
		max-width: 600px;
		width: 100%;
		.questionBox {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;


			$avatar_size_sm: 64px;
			$avatar_size_lg: 128px;

			.avatar {
				position: absolute;
				top: 12px;
				left: 12px;
				align-self: flex-start;
				border-radius: 50%;
				height: $avatar_size_sm;
				width: $avatar_size_sm;
				z-index: 10;
			}
			.input {
				flex-grow: 1;
				position: relative;
				box-sizing: border-box;
				padding: 12px 12px 12px 24px + $avatar_size_sm;
				min-height: $avatar_size_sm + 24px;
				max-height: 240px;

				border: none;
				border-radius: 6px;

				resize: none;

				&:focus {
					outline: none;
				}
				&::placeholder {
					font-family: Roboto, sans-serif;
					font-size: 16px;

				}
			}

			/* @media screen and (min-width: 768px) {
				.avatar {
					height: $avatar_size_lg;
					width: $avatar_size_lg;
				}

				.input {
					padding: 12px 12px 12px 24px + $avatar_size_lg;
					min-height: $avatar_size_lg + 16px;
				}
			} */
		}
		.lowerWrapper {
			display: flex;
			align-items: stretch;

			padding: 8px 0;

			.send {
				padding: 8px 16px;
				border: 0;
				border-radius: 4px;
				background-color: #dee2e6;
				display: flex;
				margin-right: 8px;
				cursor: pointer;

				transition: background-color 250ms linear;

				&:hover {
					background-color: #bbc0c4;
				}
				.sendIcon {
					height: 24px;
					width: 24px;
					color: #343a40;
				}
			}

			.toastWrapper {
				flex-grow: 1;
				display: flex;
				position: relative;
				.toast {
					position: absolute;
					width: 100%;
					display: flex;
					align-items: center;
					border-radius: 4px;
					color: #ffffff;
					font-family: "Roboto", sans-serif;
					background-color: #008600;

					transition: max-height 500ms linear;
					max-height: 0;
					overflow-y: hidden;

					.toastIcon {
						width: 24px;
						height: 24px;
						margin: 8px;
					}

					&.toastShow {
						max-height: 500px;
						background-color: #008600;

					}
					&.toastErr {
						background-color: #df0c01;

					}
				}
			}
		}
	}
}
